In [8]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.cm as register_cmap
from scipy import stats
from sklearn.decomposition import PCA
import seaborn as sn
from sklearn.preprocessing import LabelEncoder

In [2]:
df1 = pd.read_csv("Australian_Travel_Survey_Data.csv")

In [3]:
df1.head()

,PERSONID,AGE,GENDER,ANYWORK,CARLICENCE,HHSTRUCTURE,HH_CARS,HHINC_grp,SA1_code,PopDensity_SA1,SA2_code,PopDensity_SA2,SA3_code,PopDensity_SA3,STATE,ACTIVE_TRAVEL_TIME,CAR_TIME
0,Y09H151315P01,40,2,1,1,4,0,1,2100106,1500,21001,158,20101,213,Victoria,0,35
1,Y09H151324P01,73,1,2,1,2,1,1,2100108,703,21001,158,20101,213,Victoria,0,100
2,Y09H151340P01,85,2,2,1,1,1,1,2100108,703,21001,158,20101,213,Victoria,0,35
3,Y09H151329P01,34,2,1,1,3,1,3,2100108,703,21001,158,20101,213,Victoria,0,79
4,Y09H151325P01,68,1,2,1,3,2,3,2100108,703,21001,158,20101,213,Victoria,0,97

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PERSONID            41544 non-null  object
 1   AGE                 41544 non-null  int64
 2   GENDER              41544 non-null  int64
 3   ANYWORK             41544 non-null  int64
 4   CARLICENCE          41544 non-null  int64
 5   HHSTRUCTURE         41544 non-null  int64
 6   HH_CARS             41544 non-null  int64
 7   HHINC_grp           41544 non-null  int64
 8   SA1_code            41544 non-null  int64
 9   PopDensity_SA1      41544 non-null  int64
 10  SA2_code            41544 non-null  int64
 11  PopDensity_SA2      41544 non-null  int64
 12  SA3_code            41544 non-null  int64
 13  PopDensity_SA3      41544 non-null  int64
 14  STATE               41544 non-null  object
 15  ACTIVE_TRAVEL_TIME  41544 non-null  int64
 16  CAR_TIME            41544 non-null  int64
dtypes: int64(15), object(2)
memory usage: 5.4+ MB