In [1]:
import geopandas

shp_file = geopandas.read_file('./New Data/GIS data/SA2_Travel_Survey.shp')
shp_file.to_file('myshpfile.csv', driver='GeoJSON')

ImportError: cannot import name 'CRS' from 'pyproj' (C:\Users\bhave\anaconda3\lib\site-packages\pyproj\__init__.py)

In [2]:
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set(style="whitegrid", palette="pastel", color_codes=True)
sns.mpl.rc("figure", figsize=(10,6))

In [4]:
%matplotlib inline

In [5]:
shp_path = "./New Data/GIS data/SA2_Travel_Survey.shp"
sf = shp.Reader(shp_path)

In [6]:
len(sf.shapes())

515

In [7]:
# We have 512 shapes in our shape files

In [8]:
print(sf.records()[1])

Record #1: ['21002', 12080.9999596, 0.169505274228, 0.00126303537623, '201011002', 'Ballarat', 12.3863575199, 975.347267359]

In [9]:
sf.records()[25]

Record #25: ['21042', 19305.0000072, 0.31618319704, 0.00418255461028, '203021042', 'Highton', 40.6787355306, 474.572273581]

In [10]:
# Coverting it into the pandas dataframe..........

In [11]:
def read_shapefile(sf):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [12]:
df= read_shapefile(sf)

In [13]:
df.shape

(515, 9)

In [14]:
df.head()

,SA2_5DIG11,SUM_PopSpl,Shape_Leng,Shape_Area,SA2_MAIN11,SA2_NAME11,Arkm2,PopDensity,coords
0,21001,8329.000002,0.373358,0.005374,201011001,Alfredton,52.711180,158.012021,"[(143.77930991601988, -37.52306280320573), (14..."
1,21002,12080.999960,0.169505,0.001263,201011002,Ballarat,12.386358,975.347267,"[(143.82658395388648, -37.540578960750395), (1..."
2,21003,22001.000029,0.479115,0.009413,201011003,Ballarat - North,92.349161,238.237140,"[(143.9221236796642, -37.47439154893078), (143..."
3,21004,22744.999962,0.291446,0.003352,201011004,Ballarat - South,32.854063,692.304013,"[(143.86824657382044, -37.56652335406949), (14..."
4,21005,6600.000004,0.411868,0.005266,201011005,Buninyong,51.583998,127.946655,"[(143.8514049923466, -37.61072400560835), (143..."

In [22]:
df.coords[0][1]

(143.78144732843157, -37.52402830726055)

In [17]:
df33

NameError: name 'df33' is not defined

In [ ]:
df['latitude'] = df['newcoords'].apply(lambda x: x[0][1])

In [ ]:
df['longitude'] = df['newcoords'].apply(lambda x: x[0][0])

In [ ]:
df.coords[0]

In [ ]:
df.columns

In [ ]:
df.drop(['SUM_PopSpl', 'Shape_Leng', 'Shape_Area', 'SA2_MAIN11',
       'SA2_NAME11', 'Arkm2', 'PopDensity', 'coords', 'newcoords', 'new'],axis = 1, inplace = True)

In [ ]:
df

In [ ]:
df = df.rename(columns={'SA2_5DIG11': 'SA2_code'})

In [ ]:
df

In [ ]:
df1 = pd.read_csv('Australian_Travel_Survey_Data.csv')

In [ ]:
df1

In [ ]:
df1.columns

In [ ]:
df.SA2_code = df.SA2_code.astype(int)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
data = pd.merge(df,df1, on = 'SA2_code')

In [ ]:
data.

In [ ]:
data.to_csv('Australian_Data_with_Latlong.csv',index=False)

In [ ]:
data.columns

In [ ]:
data.drop(['PERSONID', 'AGE', 'GENDER',
       'ANYWORK', 'CARLICENCE', 'HHSTRUCTURE', 'HH_CARS', 'HHINC_grp',
       'SA1_code', 'PopDensity_SA1', 'PopDensity_SA2', 'SA3_code',
       'PopDensity_SA3', 'STATE',],axis = 1, inplace = True)

In [ ]:
data.isnull().sum()

In [ ]:
from keplergl import KeplerGl as maps

In [ ]:
map1 = maps(height=500)

In [ ]:
map1.add_data(data= data, name = 'Australian Travel Data')
map1

In [ ]:
data.to_csv('Test.csv',index=False)

In [ ]:
def plot_shape(id, s=None):
    """ PLOTS A SINGLE SHAPE """
    plt.figure()
    ax = plt.axes()
    ax.set_aspect('equal')
    shape_ex = sf.shape(id)
    x_lon = np.zeros((len(shape_ex.points),1))
    y_lat = np.zeros((len(shape_ex.points),1))
    for ip in range(len(shape_ex.points)):
        x_lon[ip] = shape_ex.points[ip][0]
        y_lat[ip] = shape_ex.points[ip][1]
    plt.plot(x_lon,y_lat) 
    x0 = np.mean(x_lon)
    y0 = np.mean(y_lat)
    plt.text(x0, y0, s, fontsize=10)
    # use bbox (bounding box) to set plot limits
    plt.xlim(shape_ex.bbox[0],shape_ex.bbox[2])
    return x0, y0

In [ ]:
comuna = 'Alfredton'
com_id = 0
plot_shape(com_id, comuna)

In [ ]:
# Plotting complete map

In [ ]:
def plot_map(sf, x_lim = None, y_lim = None, figsize = (11,9)):
    plt.figure(figsize = figsize)
    id=0
    for shape in sf.shapeRecords():
        x = [i[0] for i in shape.shape.points[:]]
        y = [i[1] for i in shape.shape.points[:]]
        plt.plot(x, y, 'k')
        
        if (x_lim == None) & (y_lim == None):
            x0 = np.mean(x)
            y0 = np.mean(y)
            plt.text(x0, y0, id, fontsize=10)
        id = id+1
    
    if (x_lim != None) & (y_lim != None):     
        plt.xlim(x_lim)
        plt.ylim(y_lim)

In [ ]:
plot_map(sf)

In [ ]:
import json
import pandas as pd
data = json.load(open('myshpfile.json'))

list(data.keys())
#['data','fields']

In [ ]:
pd.json_normalize(data)