### import geopandas as gpd

shp_file = geopandas.read_file('./New Data/GIS data/SA2_Travel_Survey.shp')
shp_file.to_file('myshpfile.csv', driver='GeoJSON')

In [2]:
import shapefile

In [3]:
sf = shapefile.Reader("./New Data/GIS data/SA2_Travel_Survey.shp")

In [4]:
with shapefile.Reader('./New Data/GIS data/SA2_Travel_Survey.shp') as shp:
    print(shp)

shapefile Reader
    515 shapes (type 'POLYGON')
    515 records (9 fields)

In [5]:
sf.shapeType

5

In [6]:
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
sns.set(style="whitegrid", palette="pastel", color_codes=True)
sns.mpl.rc("figure", figsize=(10,6))

In [8]:
%matplotlib inline

In [9]:
shp_path = "./New Data/GIS data/SA2_Travel_Survey.shp"
sf = shp.Reader(shp_path)

In [10]:
len(sf.shapes())

515

In [11]:
# We have 512 shapes in our shape files

In [12]:
print(sf.records()[1])

Record #1: ['21002', 12080.9999596, 0.169505274228, 0.00126303537623, '201011002', 'Ballarat', 12.3863575199, 975.347267359]

In [13]:
sf.records()[25]

Record #25: ['21042', 19305.0000072, 0.31618319704, 0.00418255461028, '203021042', 'Highton', 40.6787355306, 474.572273581]

In [14]:
# Coverting it into the pandas dataframe..........

In [15]:
def read_shapefile(sf):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [16]:
df= read_shapefile(sf)

In [17]:
df.shape

(515, 9)

In [18]:
df.head()

,SA2_5DIG11,SUM_PopSpl,Shape_Leng,Shape_Area,SA2_MAIN11,SA2_NAME11,Arkm2,PopDensity,coords
0,21001,8329.000002,0.373358,0.005374,201011001,Alfredton,52.711180,158.012021,"[(143.77930991601988, -37.52306280320573), (14..."
1,21002,12080.999960,0.169505,0.001263,201011002,Ballarat,12.386358,975.347267,"[(143.82658395388648, -37.540578960750395), (1..."
2,21003,22001.000029,0.479115,0.009413,201011003,Ballarat - North,92.349161,238.237140,"[(143.9221236796642, -37.47439154893078), (143..."
3,21004,22744.999962,0.291446,0.003352,201011004,Ballarat - South,32.854063,692.304013,"[(143.86824657382044, -37.56652335406949), (14..."
4,21005,6600.000004,0.411868,0.005266,201011005,Buninyong,51.583998,127.946655,"[(143.8514049923466, -37.61072400560835), (143..."

In [19]:
df.coords[0][1]

(143.78144732843157, -37.52402830726055)

In [20]:
#df['latitude'] = df['newcoords'].apply(lambda x: x[0][1])

In [21]:
#df['longitude'] = df['newcoords'].apply(lambda x: x[0][0])

In [22]:
df.columns

Index(['SA2_5DIG11', 'SUM_PopSpl', 'Shape_Leng', 'Shape_Area', 'SA2_MAIN11',
       'SA2_NAME11', 'Arkm2', 'PopDensity', 'coords'],
      dtype='object')

In [23]:
df.drop(['SUM_PopSpl', 'Shape_Leng', 'Shape_Area', 'SA2_MAIN11',
       'Arkm2', 'PopDensity'],axis = 1, inplace = True)

In [24]:
df

,SA2_5DIG11,SA2_NAME11,coords
0,21001,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
1,21002,Ballarat,"[(143.82658395388648, -37.540578960750395), (1..."
2,21003,Ballarat - North,"[(143.9221236796642, -37.47439154893078), (143..."
3,21004,Ballarat - South,"[(143.86824657382044, -37.56652335406949), (14..."
4,21005,Buninyong,"[(143.8514049923466, -37.61072400560835), (143..."
...,...,...,...
510,31440,Caloundra Hinterland,"[(152.66948732927688, -26.61753223452496), (15..."
511,31441,Glass House Mountains,"[(153.0583261123603, -26.97750098398319), (153..."
512,31442,Landsborough,"[(153.06147305423815, -26.728273880734946), (1..."
513,31443,Maroochy Hinterland,"[(152.76720640015526, -26.468397781932026), (1..."
514,31444,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."

In [25]:
df = df.rename(columns={'SA2_5DIG11': 'SA2_code'})

In [26]:
df

,SA2_code,SA2_NAME11,coords
0,21001,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
1,21002,Ballarat,"[(143.82658395388648, -37.540578960750395), (1..."
2,21003,Ballarat - North,"[(143.9221236796642, -37.47439154893078), (143..."
3,21004,Ballarat - South,"[(143.86824657382044, -37.56652335406949), (14..."
4,21005,Buninyong,"[(143.8514049923466, -37.61072400560835), (143..."
...,...,...,...
510,31440,Caloundra Hinterland,"[(152.66948732927688, -26.61753223452496), (15..."
511,31441,Glass House Mountains,"[(153.0583261123603, -26.97750098398319), (153..."
512,31442,Landsborough,"[(153.06147305423815, -26.728273880734946), (1..."
513,31443,Maroochy Hinterland,"[(152.76720640015526, -26.468397781932026), (1..."
514,31444,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."

In [27]:
df.to_csv('Test5.csv',index=False)

In [28]:
df1 = pd.read_csv('Australian_Travel_Survey_Data.csv')

In [29]:
df2=pd.read_csv('Test5.csv')

In [30]:
df2

,SA2_code,SA2_NAME11,coords
0,21001,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
1,21002,Ballarat,"[(143.82658395388648, -37.540578960750395), (1..."
2,21003,Ballarat - North,"[(143.9221236796642, -37.47439154893078), (143..."
3,21004,Ballarat - South,"[(143.86824657382044, -37.56652335406949), (14..."
4,21005,Buninyong,"[(143.8514049923466, -37.61072400560835), (143..."
...,...,...,...
510,31440,Caloundra Hinterland,"[(152.66948732927688, -26.61753223452496), (15..."
511,31441,Glass House Mountains,"[(153.0583261123603, -26.97750098398319), (153..."
512,31442,Landsborough,"[(153.06147305423815, -26.728273880734946), (1..."
513,31443,Maroochy Hinterland,"[(152.76720640015526, -26.468397781932026), (1..."
514,31444,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."

In [31]:
df1

,PERSONID,AGE,GENDER,ANYWORK,CARLICENCE,HHSTRUCTURE,HH_CARS,HHINC_grp,SA1_code,PopDensity_SA1,SA2_code,PopDensity_SA2,SA3_code,PopDensity_SA3,STATE,ACTIVE_TRAVEL_TIME,CAR_TIME
0,Y09H151315P01,40,2,1,1,4,0,1,2100106,1500,21001,158,20101,213,Victoria,0,35
1,Y09H151324P01,73,1,2,1,2,1,1,2100108,703,21001,158,20101,213,Victoria,0,100
2,Y09H151340P01,85,2,2,1,1,1,1,2100108,703,21001,158,20101,213,Victoria,0,35
3,Y09H151329P01,34,2,1,1,3,1,3,2100108,703,21001,158,20101,213,Victoria,0,79
4,Y09H151325P01,68,1,2,1,3,2,3,2100108,703,21001,158,20101,213,Victoria,0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,Y09H260722P01,64,2,2,1,5,1,3,3144427,947,31444,88,31606,30,Queensland,0,77
41540,Y09H260701P02,50,2,1,1,3,2,5,3144427,947,31444,88,31606,30,Queensland,0,42
41541,Y09H260701P01,52,1,1,1,3,2,5,3144427,947,31444,88,31606,30,Queensland,0,60
41542,Y09H260724P02,34,2,1,1,3,2,4,3144428,57,31444,88,31606,30,Queensland,0,70
41543,Y09H260724P01,34,1,1,1,3,2,4,3144428,57,31444,88,31606,30,Queensland,0,60

In [32]:
df1.columns

Index(['PERSONID', 'AGE', 'GENDER', 'ANYWORK', 'CARLICENCE', 'HHSTRUCTURE',
       'HH_CARS', 'HHINC_grp', 'SA1_code', 'PopDensity_SA1', 'SA2_code',
       'PopDensity_SA2', 'SA3_code', 'PopDensity_SA3', 'STATE',
       'ACTIVE_TRAVEL_TIME', 'CAR_TIME'],
      dtype='object')

In [33]:
df2.SA2_code = df2.SA2_code.astype(int)

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PERSONID            41544 non-null  object
 1   AGE                 41544 non-null  int64
 2   GENDER              41544 non-null  int64
 3   ANYWORK             41544 non-null  int64
 4   CARLICENCE          41544 non-null  int64
 5   HHSTRUCTURE         41544 non-null  int64
 6   HH_CARS             41544 non-null  int64
 7   HHINC_grp           41544 non-null  int64
 8   SA1_code            41544 non-null  int64
 9   PopDensity_SA1      41544 non-null  int64
 10  SA2_code            41544 non-null  int64
 11  PopDensity_SA2      41544 non-null  int64
 12  SA3_code            41544 non-null  int64
 13  PopDensity_SA3      41544 non-null  int64
 14  STATE               41544 non-null  object
 15  ACTIVE_TRAVEL_TIME  41544 non-null  int64
 16  CAR_TIME            41544 non-null  int64
dtypes: int64(15), object(2)
memory usage: 5.4+ MB

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SA2_code    515 non-null    int32
 1   SA2_NAME11  515 non-null    object
 2   coords      515 non-null    object
dtypes: int32(1), object(2)
memory usage: 10.2+ KB

In [36]:
df33

NameError: name 'df33' is not defined

In [37]:
data = pd.merge(df1,df2, on = 'SA2_code')

In [38]:
data

,PERSONID,AGE,GENDER,ANYWORK,CARLICENCE,HHSTRUCTURE,HH_CARS,HHINC_grp,SA1_code,PopDensity_SA1,SA2_code,PopDensity_SA2,SA3_code,PopDensity_SA3,STATE,ACTIVE_TRAVEL_TIME,CAR_TIME,SA2_NAME11,coords
0,Y09H151315P01,40,2,1,1,4,0,1,2100106,1500,21001,158,20101,213,Victoria,0,35,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
1,Y09H151324P01,73,1,2,1,2,1,1,2100108,703,21001,158,20101,213,Victoria,0,100,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
2,Y09H151340P01,85,2,2,1,1,1,1,2100108,703,21001,158,20101,213,Victoria,0,35,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
3,Y09H151329P01,34,2,1,1,3,1,3,2100108,703,21001,158,20101,213,Victoria,0,79,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
4,Y09H151325P01,68,1,2,1,3,2,3,2100108,703,21001,158,20101,213,Victoria,0,97,Alfredton,"[(143.77930991601988, -37.52306280320573), (14..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,Y09H260722P01,64,2,2,1,5,1,3,3144427,947,31444,88,31606,30,Queensland,0,77,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."
41540,Y09H260701P02,50,2,1,1,3,2,5,3144427,947,31444,88,31606,30,Queensland,0,42,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."
41541,Y09H260701P01,52,1,1,1,3,2,5,3144427,947,31444,88,31606,30,Queensland,0,60,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."
41542,Y09H260724P02,34,2,1,1,3,2,4,3144428,57,31444,88,31606,30,Queensland,0,70,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."
41543,Y09H260724P01,34,1,1,1,3,2,4,3144428,57,31444,88,31606,30,Queensland,0,60,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."

In [ ]:
# convert it into the shape file and try again.

In [58]:
df = gpd.sjoin(shp_file,df2, op= 'within')

ValueError: 'right_df' should be GeoDataFrame, got <class 'pandas.core.frame.DataFrame'>

In [46]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 42059 entries, 0 to 42058
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PERSONID            41544 non-null  object
 1   AGE                 41544 non-null  float64
 2   GENDER              41544 non-null  float64
 3   ANYWORK             41544 non-null  float64
 4   CARLICENCE          41544 non-null  float64
 5   HHSTRUCTURE         41544 non-null  float64
 6   HH_CARS             41544 non-null  float64
 7   HHINC_grp           41544 non-null  float64
 8   SA1_code            41544 non-null  float64
 9   PopDensity_SA1      41544 non-null  float64
 10  SA2_code            42059 non-null  int64
 11  PopDensity_SA2      41544 non-null  float64
 12  SA3_code            41544 non-null  float64
 13  PopDensity_SA3      41544 non-null  float64
 14  STATE               41544 non-null  object
 15  ACTIVE_TRAVEL_TIME  41544 non-null  float64
 16  CAR_TIME            41544 non-null  float64
 17  SA2_NAME11          515 non-null    object
 18  coords              515 non-null    object
dtypes: float64(14), int64(1), object(4)
memory usage: 6.1+ MB

In [50]:
df

,PERSONID,AGE,GENDER,ANYWORK,CARLICENCE,HHSTRUCTURE,HH_CARS,HHINC_grp,SA1_code,PopDensity_SA1,SA2_code,PopDensity_SA2,SA3_code,PopDensity_SA3,STATE,ACTIVE_TRAVEL_TIME,CAR_TIME,SA2_NAME11,coords
0,Y09H151315P01,40.0,2.0,1.0,1.0,4.0,0.0,1.0,2100106.0,1500.0,21001,158.0,20101.0,213.0,Victoria,0.0,35.0,NaN,NaN
1,Y09H151324P01,73.0,1.0,2.0,1.0,2.0,1.0,1.0,2100108.0,703.0,21001,158.0,20101.0,213.0,Victoria,0.0,100.0,NaN,NaN
2,Y09H151340P01,85.0,2.0,2.0,1.0,1.0,1.0,1.0,2100108.0,703.0,21001,158.0,20101.0,213.0,Victoria,0.0,35.0,NaN,NaN
3,Y09H151329P01,34.0,2.0,1.0,1.0,3.0,1.0,3.0,2100108.0,703.0,21001,158.0,20101.0,213.0,Victoria,0.0,79.0,NaN,NaN
4,Y09H151325P01,68.0,1.0,2.0,1.0,3.0,2.0,3.0,2100108.0,703.0,21001,158.0,20101.0,213.0,Victoria,0.0,97.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31440,NaN,NaN,NaN,NaN,NaN,NaN,Caloundra Hinterland,"[(152.66948732927688, -26.61753223452496), (15..."
42055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31441,NaN,NaN,NaN,NaN,NaN,NaN,Glass House Mountains,"[(153.0583261123603, -26.97750098398319), (153..."
42056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31442,NaN,NaN,NaN,NaN,NaN,NaN,Landsborough,"[(153.06147305423815, -26.728273880734946), (1..."
42057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31443,NaN,NaN,NaN,NaN,NaN,NaN,Maroochy Hinterland,"[(152.76720640015526, -26.468397781932026), (1..."
42058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31444,NaN,NaN,NaN,NaN,NaN,NaN,Palmwoods,"[(152.94168899195347, -26.655579006066205), (1..."

In [49]:
df.to_csv('yo.csv')

In [ ]:
import scipy as sp
import chart_studio.plotly as py

In [ ]:
data.drop(['PERSONID', 'AGE', 'GENDER',
       'ANYWORK', 'CARLICENCE', 'HHSTRUCTURE', 'HH_CARS', 'HHINC_grp',
       'SA1_code', 'PopDensity_SA1', 'PopDensity_SA2', 'SA3_code',
       'PopDensity_SA3', 'STATE'],axis = 1, inplace = True)

In [ ]:
df2 = data.copy()

In [ ]:
#import keplergl
#w1 = keplergl.KeplerGl(height = 400, data={'data_1':data})

In [ ]:
from keplergl import KeplerGl

In [ ]:
map_1 = KeplerGl(height = 500, data={"data_1": df2})
map_1

In [ ]:
pip install geoplotlib

In [ ]:
import geoplotlib
from geoplotlib.utils import read_csv

In [ ]:
geoplotlib.dot()

In [ ]:
df33

In [ ]:
data.columns

In [ ]:
dataFrame = pd.DataFrame(data, columns = ['SA2_code', 'SA2_NAME11', 'coords', 'ACTIVE_TRAVEL_TIME', 'CAR_TIME'])

In [ ]:
json = dataFrame.to_json()
print(json)

In [ ]:
%%time

data.to_csv('testing_Rev.csv',index=False)

In [ ]:
data.info()

In [ ]:
data.columns

In [ ]:
df33

In [ ]:
data.drop(['PERSONID', 'AGE', 'GENDER',
       'ANYWORK', 'CARLICENCE', 'HHSTRUCTURE', 'HH_CARS', 'HHINC_grp',
       'SA1_code', 'PopDensity_SA1', 'PopDensity_SA2', 'SA3_code',
       'PopDensity_SA3', 'STATE',],axis = 1, inplace = True)

In [ ]:
data.isnull().sum()

In [ ]:
from keplergl import KeplerGl as maps

In [ ]:
map1 = maps(height=500)

In [ ]:
map1.add_data(data= data, name = 'Australian Travel Data')
map1

In [ ]:
data.to_csv('Test.csv',index=False)

In [ ]:
def plot_shape(id, s=None):
    """ PLOTS A SINGLE SHAPE """
    plt.figure()
    ax = plt.axes()
    ax.set_aspect('equal')
    shape_ex = sf.shape(id)
    x_lon = np.zeros((len(shape_ex.points),1))
    y_lat = np.zeros((len(shape_ex.points),1))
    for ip in range(len(shape_ex.points)):
        x_lon[ip] = shape_ex.points[ip][0]
        y_lat[ip] = shape_ex.points[ip][1]
    plt.plot(x_lon,y_lat) 
    x0 = np.mean(x_lon)
    y0 = np.mean(y_lat)
    plt.text(x0, y0, s, fontsize=10)
    # use bbox (bounding box) to set plot limits
    plt.xlim(shape_ex.bbox[0],shape_ex.bbox[2])
    return x0, y0

In [ ]:
comuna = 'Alfredton'
com_id = 0
plot_shape(com_id, comuna)

In [ ]:
# Plotting complete map

In [ ]:
def plot_map(sf, x_lim = None, y_lim = None, figsize = (11,9)):
    plt.figure(figsize = figsize)
    id=0
    for shape in sf.shapeRecords():
        x = [i[0] for i in shape.shape.points[:]]
        y = [i[1] for i in shape.shape.points[:]]
        plt.plot(x, y, 'k')
        
        if (x_lim == None) & (y_lim == None):
            x0 = np.mean(x)
            y0 = np.mean(y)
            plt.text(x0, y0, id, fontsize=10)
        id = id+1
    
    if (x_lim != None) & (y_lim != None):     
        plt.xlim(x_lim)
        plt.ylim(y_lim)

In [ ]:
plot_map(sf)

In [ ]:
import json
import pandas as pd
data = json.load(open('myshpfile.json'))

list(data.keys())
#['data','fields']

In [ ]:
pd.json_normalize(data)